<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="logo">My Portfolio</a>
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="menu">
                    <a href="/">Home</a>
                    <a href="/about">About Me</a>
                    <a href="/project">Projects</a>
                    <a href="/contact">Contact Me</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Ansh Patel <span class="heart-symbol">&hearts;</span></p>
            <p>Follow me on <a href="https://github.com/Ansh6359" target="_blank">GitHub</a> and 
            <a href="https://www.linkedin.com/in/ansh-patel-8648a1303/" target="_blank">LinkedIn</a></p>
        </div>
    </footer>
</body>
</html>
